body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

/* NAVBAR */

nav {
    background-color: #1f2937;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 40px;
}

nav ul {
    display: flex;
    gap: 20px;

    list-style: none;
}

nav a { 

color: white; 
text-decoration: none;
}

nav a:hover { 

    text-decoration: underline;
}

nav button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

nav button:hover {
    text-decoration: underline;
}

nav h1 a:hover { 
text-decoration: none;
}

nav h1 a { 
    color:white;
    text-decoration: none;
}

.active { 
    text-decoration: underline;
    text-underline-offset: 5px;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    margin: 0;
    background-color: lightblue;
}

footer {
    margin-top: auto;
}

/* HERO SECTION */

.hero {
    text-align: center;

    padding: 100px 20px;

    background-color: #0d3488;
    color: white;
}

.hero a {
    display: inline-block;

    padding: 12px 24px;

    background-color: white;
    color: black;

    text-decoration: none;

    border-radius: 8px;

    font-size: 16px;

    cursor: pointer;
}

.hero a:hover { 

background-color: #779ff5;
color: #ffffff;
}

/* MISSION SECTION */

.mission {
    padding: 60px 20px;

    text-align: center;

    img {

        width: 600px;
        border-radius: 10px;
    }
}

.about {
    text-align: center;
    padding: 60px 20px;
    background-color: lightblue;
}

.about h1 { 

    font-size: 85px;
}

.about img {
    width: 400px;
    border-radius: 10px;
    margin: 20px 0;
}

.about p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.6;
}

.about a {
    display: block;

    width: fit-content;

    margin: 20px auto 0 auto;

    background-color: #0d3488;
    color: white;

    padding: 15px 25px;

    text-decoration: none;
    border-radius: 8px;
}

.about a:hover {
    background-color: #779ff5;
}

.gallery {

    text-align: center;
    padding: 60px 20px;
    background-color: lightblue;
}

.gallery h1 { 

    font-size: 85px;
}

.gallery img { 

    width: 400px;
    height: 300px;
    border-radius: 10px;
    margin: 20px 0;
}

.gallery p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.6;
}

.eventCards {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 20px;
    background-color: lightblue;
}

.eventCards h1{ 
    font-size: 100px;
    text-align: center;
}

.eventCard {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1000px;
    margin: 0 auto;

    padding: 25px;

    background-color: rgb(224, 222, 222);
    border-radius: 12px;

    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
       gap: 60px;

    transition: 0.2s;
}

.eventInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;

    max-width: 600px;

    text-align: left;
}

.eventCard a {
    display: inline-block;
    align-self: center;

    background-color: #0d3488;
    color: white;

    padding: 12px 20px;

    border-radius: 8px;

     display: inline-block;
    width: fit-content;

    text-decoration: none;
}

.eventCard:hover {
    transform: translateY(-5px);
}

.eventCard a:hover {
    background-color: #779ff5;
}

.eventCard img {
    width: 500px;
    height: auto;

    border-radius: 8px;

    object-fit: cover;
}

.eventCard a {
    background-color: #0d3488;
    color: white;

    padding: 15px 25px;

    text-decoration: none;
    border-radius: 8px;
}

.eventCard a:hover {
    background-color: #779ff5;
}

.howToJoin { 
    background-color: lightblue;
    text-align: center;
    padding: 60px 20px;
}

.howToJoin ol {
    display: inline-block;
    text-align: left;
}

.howToJoin h1 { 

    font-size: 85px;
}

.contact {
    text-align: center;
    padding: 60px 20px;
    background-color: lightblue;
}

.contact h1 { 

    font-size: 85px;
}

.contact p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.6;
}

footer {
    background-color: #1f2937;
    color: white;

    text-align: center;

    padding: 30px;
    margin-top: 60px;
}